<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Docker Detect</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Fonts and icons -->
    <link rel="icon" href="./favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Lato:300,400,700,900"] },
        custom: {
          families: [
            "Flaticon",
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/atlantis.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="css/demo.css" />
    
    <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body style="font-family: 'NanumSquare', sans-serif; font-weight: 700">
    <div class="wrapper overlay-sidebar">
      <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" style="background-color: #6557A1;" >
          <a href="/">
          <img src="logo.png" alt="navbar brand" class="navbar-brand" width=45>
          <!-- <a href="main3.html" class="logo" style="color: white"> Docker Detect </a> -->
          </a>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <nav
          class="navbar navbar-header navbar-expand-lg"
          data-background-color="blue2"
        >
        </nav>
        <!-- End Navbar -->
      </div>

      <div class="main-panel">
        <div class="content">
          <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
              <div
                class="
                  d-flex
                  align-items-left align-items-md-center
                  flex-column flex-md-row
                "
              >
                <div>
                  <h2 class="text-white pb-2 fw-bold">상세 분석 보고서</h2>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                  <a href="/download?img_name=<%= result.docker_img%>" class="btn btn-white btn-default btn-round mr-2"
                    >결과 보고서</a
                  >
                  <a href="/download?file=guide.pdf" class="btn btn-white btn-default btn-round mr-2"
                    >조치 가이드</a
                  >
                </div>
              </div>
              <div class="menu1" style="height:2.5rem;padding-top:1rem;">
                <div class="ml-md-auto py-2 py-md-0">
                    <style>
                        .menu1 a{
                            color: #BFBFBF;
                            font-size: 15px;
                            font-weight: lighter;
                            margin-right:1rem;
                            margin-left:0.5rem;
                        }
                        .menu1 a:hover{
                            color: white;
                            text-decoration:none;
                        }
                    </style>
                    <a href="./result_st?img_name=<%= result.docker_img%>" id="static_index">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;정적분석
                    </a>
                  </div>
            </div>
              <div class="menu2" style="height:2.5rem;padding-top:1rem;">
                <div class="ml-md-auto py-2 py-md-0">
                    <style>
                        .menu2 a{
                            color: #BFBFBF;
                            font-size: 15px;
                            font-weight: lighter;
                            margin-right:1rem;
                            margin-left:0.5rem;
                        }
                        .menu2 a:hover{
                            color: white;
                            text-decoration:none;
                        }
                    </style>
                    <a href="./result_dy?img_name=<%= result.docker_img%>" id="dynamic_index" style="color:white;">
                      >&nbsp;&nbsp;&nbsp;동적분석  
                    </a>
                  </div>
            </div>
            </div>
          </div>
          <div class="page-inner mt--5">
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" style="font-family: 'Nanum Gothic', sans-serif;">도커 이미지 정보</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                      class="d-flex flex-wrap justify-content-start pb-2 pt-4"
                    >
                    <ul
                    style="
                      font-family: 'Nanum Gothic', sans-serif;
                      font-size: 14px;
                      list-style: none;
                      flex: 0.9;
                      margin: auto;
                      margin-top: 1px;
                      font-weight: bold;
                      padding-left: 1rem;
                    "
                  >
                        <li style="margin: 3px 0 8px">이미지명</li>
                        <li style="margin: 3px 0 8px">이미지 업로더</li>
                        <li style="margin: 3px 0">동적분석 시간</li>
                      </ul>
                      <ul
                        style="
                          list-style: none;
                          flex: 5;
                          padding: 0;
                          margin: auto;
                          margin-top: 1px;
                        "
                      >
                        <li style="margin: 3px 30px 8px"><%= result.docker_img %></li>
                        <li style="margin: 3px 30px 8px">
                          <% if (result.docker_img.includes("/")) { %>
                            <% var parts = result.docker_img.split("/"); %>
                            <%= parts[0] %>
                          <% } else { %>
                            Docker Official Image
                          <% } %>
                        </li>
                        <li style="margin: 3px 30px"><%=result.finish_time %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" style="font-family: 'Nanum Gothic', sans-serif;">Root 실행 여부</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                      class="d-flex flex-wrap justify-content-start pb-2 pt-2"
                    >
                    <p style="font-size: 14.5px; margin: 0; padding-left: 1rem;">* 컨테이너 실행 시 관리자 계정(Root)으로 자동 실행되는지 점검합니다. </p>
                    </div>
                    <% if (root_check === 1) { %>
                      <div
                      class="d-flex flex-wrap justify-content-start pb-2 pt-2" 
                    >
                      <p style="font-size: 15.5px; margin: 0; padding-left: 1rem;">본 도커 이미지의 기본 Shell은 <span style="color: #506DFE;">Root 권한으로 실행됩니다.</span></p>
                      </div>
                      <div style="border: 2px dashed #809DF0; border-radius: 10px; background-color: #E7EAFF; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                        <p>위험도: <span style="color: #506DFE; font-weight: bolder;">중</span></p>
                        <p style="margin-bottom:0;">조치 방법:</p>
                        <p style="margin-bottom:0;">- root 계정 사용이 필요한 경우를 내부적으로 정의하여 정책을 수립합니다.</p>
                        <p style="margin-bottom:0;">- 주기적으로 root 계정 사용 여부를 점검하여 의도하지 않은 사용을 탐지할 필요가 있습니다.</p>
                      </div>
                      <% } else { %>
                        <div
                        class="d-flex flex-wrap justify-content-start pb-2 pt-2" 
                      >
                      <p style="font-size: 15.5px; margin: 0; padding-left: 1rem;">본 도커 이미지의 기본 Shell은 Root 권한으로 실행되지 않습니다.</p>
                      </div>
                      <div style="border: 2px dashed #7F7F7F; border-radius: 10px; background-color: #F2F2F2; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                        <p>위험도: <span style="font-weight: bolder;">N/A</span></p>
                        <p style="margin-bottom:0;">조치할 사항이 없습니다.</p>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" id="section2"style="font-family: 'Nanum Gothic', sans-serif;">네트워크</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                    class="d-flex flex-wrap justify-content-start pb-2 pt-2"
                  >
                  <p style="font-size: 14.5px; margin: 0; padding-left: 1rem;">* 외부 아이피와의 통신을 탐지하고, 통신한 아이피의 악성 여부를 점검합니다. </p>
                  </div>
                  <% let hasZeroLength = false; %>
                  <% let hasFiveOrMoreEngines = false; %>

                  <% if (netstat_dict_len === 0) { %>
                    <% hasZeroLength = true; %>
                  <% } %>
                  
                  <% Object.keys(netstat_dict).forEach(ip => { %>
                    <div
                      class="d-flex flex-wrap justify-content-start pb-1 pt-2"
                    >
                      <ul
                        style="
                          font-size: 14px;
                          list-style: none;
                          flex: 1.5;
                          margin: auto;
                          margin-top: 1px;
                          padding-left: 1rem;
                        "
                      >
                        <li style="margin: 3px 0; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;"><%= ip %></li>
                      </ul>
                      <ul
                        style="
                          list-style: none;
                          flex: 5;
                          padding: 0;
                          margin: auto;
                          margin-top: 1px;
                        "
                      >
                        <li style="margin: 3px 30px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;"><span style="color: #FF3B3B;"><%= netstat_dict[ip].length - 1 %></span> engines detected</li>
                      </ul>
                    </div>
                    <div class="d-flex flex-wrap justify-content-start pb-1 pt-1">
                      <ul
                        style="
                          font-size: 14px;
                          list-style: none;
                          flex: 1.5;
                          margin: auto;
                          margin-top: 1px;
                          padding-left: 1rem;
                        ">
                        <% for (let i = 0; i < netstat_dict[ip].length - 1; i++) { %>
                          <% const engineInfo = String(netstat_dict[ip][i]).split(':').map(info => info.trim()); %>
                          <% if (netstat_dict[ip].length - 1 >= 5) { %>
                            <% hasFiveOrMoreEngines = true; %>
                          <% } %>
                          <li style="margin: 3px 0;"><%= engineInfo[0] %></li>
                        <% } %>
                      </ul>
                      <ul
                        style="
                          list-style: none;
                          flex: 5;
                          padding: 0;
                          margin: auto;
                          margin-top: 1px;
                        "
                      > 
                      <% for (let i = 0; i < netstat_dict[ip].length - 1; i++) { %>
                        <% const engineInfo = String(netstat_dict[ip][i]).split(':').map(info => info.trim()); %>
                        <li style="margin: 3px 30px;"><span style="color: #FF3B3B;"><%= engineInfo[1] %></span></li>
                      <% } %>
                      </ul>
                    </div>                    
                  <% }) %>

                  <% if (hasZeroLength) { %>
                    <div style="border: 2px dashed #7F7F7F; border-radius: 10px; background-color: #F2F2F2; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                      <p>위험도: <span style="font-weight: bolder;">하</span></p>
                      <p style="margin-bottom:0;">- 분석 기간에 탐지된 바가 없으므로, 조치할 사항이 없습니다.</p>
                      <p style="margin-bottom:0;">- 분석 기간 이후에 탐지될 수 있으므로, 주의가 필요합니다. </p>
                    </div>
                  <% } else if (hasFiveOrMoreEngines) { %>
                    <div style="border: 2px dashed #F08080; border-radius: 10px; background-color: #FFE6E6; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                      <p>위험도: <span style="color: #FF6565; font-weight: bolder;">상</span></p>
                      <p style="margin-bottom:0;">조치 방법:</p>
                      <p style="margin-bottom:0;">악성으로 식별된 아이피와의 통신을 차단하도록 방화벽 규칙을 설정하거나, 이미지를 수정하여 해당 통신을 제거합니다. </p>
                    </div>
                  <% } else { %>
                    <div style="border: 2px dashed #809DF0; border-radius: 10px; background-color: #E7EAFF; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                      <p>위험도: <span style="color: #506DFE; font-weight: bolder;">중</span></p>
                      <p style="margin-bottom:0;">조치 방법:</p>
                      <p style="margin-bottom:0;">악성으로 식별되지 않은 아이피라도 필요한 통신이 아니라면 통신을 차단하도록 방화벽 규칙을 설정하거나, 이미지를 수정하여 해당 통신을 제거합니다. </p>
                    </div>
                  <% } %>

              </div>
              </div>
              </div>
            </div>
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" style="font-family: 'Nanum Gothic', sans-serif;">열린 프로세스</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                    class="d-flex flex-wrap justify-content-start pb-2 pt-2"
                  >
                  <p style="font-size: 14.5px; margin: 0; padding-left: 1rem;">* 정상적이지 않은 프로세스 통신을 점검합니다. </p>
                  </div>  
                  <% if (lsof_detect === 1) { %>
                      <% Object.keys(lsof_data).forEach(field => { %>
                        <div class="d-flex flex-wrap justify-content-start pb-2 pt-2">
                          <ul
                            style="
                              font-family: 'Nanum Gothic', sans-serif;
                              font-size: 14px;
                              list-style: none;
                              flex: 0.7;
                              margin: auto;
                              margin-top: 1px;
                              font-weight: bold;
                              padding-left: 1rem;
                            "
                          >
                            <li style="margin: 3px 0 8px;">프로세스</li>
                            <li style="margin: 3px 0 8px;">연결 포트</li>
                            <li style="margin: 3px 0 8px;">연결 상태</li>
                            <li style="margin: 3px 0">프로토콜</li>
                          </ul>
                          <ul
                            style="
                              list-style: none;
                              flex: 5;
                              padding: 0;
                              margin: auto;
                              margin-top: 1px;
                            "
                          >
                            <% const indexesToExtract = [0, 5, 9, 7]; %>
                            <% indexesToExtract.forEach(index => { %>
                              <% const data = lsof_data[field][index]; %>
                              <li style="margin: 3px 30px 8px;"><%= data %></li>
                            <% }) %>
                          </ul>
                        </div>
                      <% }) %>
                      <div style="border: 2px dashed #F08080; border-radius: 10px; background-color: #FFE6E6; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                        <p>위험도: <span style="color: #FF6565; font-weight: bolder;">상</span></p>
                        <p style="margin-bottom:0;">조치 방법:</p>
                        <p style="margin-bottom:0;"> 비인가된 포트와 프로세스를 차단하기 위해 이미지를 수정하거나, 방화벽 규칙을 설정하여 포트 접근을 제한합니다. </p>
                      </div>
                    <% } else { %>
                      <div style="border: 2px dashed #7F7F7F; border-radius: 10px; background-color: #F2F2F2; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                        <p>위험도: <span style="font-weight: bolder;">하</span></p>
                        <p style="margin-bottom:0;">- 분석 기간에 탐지된 바가 없으므로, 조치할 사항이 없습니다.</p>
                        <p style="margin-bottom:0;">- 분석 기간 이후에 탐지될 수 있으므로, 주의가 필요합니다. </p>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" id="section2"style="font-family: 'Nanum Gothic', sans-serif;">컨테이너 내 자동 실행되는 파일</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                    class="d-flex flex-wrap justify-content-start pb-2 pt-2"
                  >
                  <p style="font-size: 14.5px; margin: 0; padding-left: 1rem;">* 컨테이너 실행 시 자동 실행되는 파일을 확인하고, 해당 파일의 악성 여부를 점검합니다. </p>
                  </div>
                  <% let detectFileZeroLength = false; %>
                  <% let detectFileFiveOrMoreEngines = false; %>

                  <% if (detected_dict_len === 0) { %>
                    <% detectFileZeroLength = true; %>
                  <% } %>

                  <% Object.keys(detected_dict).forEach(detect_file => { %>
                      <% if ((detected_dict[detect_file].length - 2) >= 1) { %>
                        <div
                          class="d-flex flex-wrap justify-content-start pb-2 pt-2"
                        >
                          <ul
                            style="
                              font-size: 14px;
                              list-style: none;
                              flex: 1.5;
                              margin: auto;
                              margin-top: 1px;
                              padding-left: 1rem;
                            "
                          >
                            <li style="margin: 3px 0; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;"><%= detect_file %></li>
                          </ul>
                          <ul
                            style="
                              list-style: none;
                              flex: 5;
                              padding: 0;
                              margin: auto;
                              margin-top: 1px;
                            "
                          >
                            <li style="margin: 3px 30px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;"><span style="color: #FF3B3B;"><%= detected_dict[detect_file].length - 1 %></span> engines detected</li>
                          </ul>
                        </div>
                        <div class="d-flex flex-wrap justify-content-start pb-2">
                          <ul
                            style="
                              font-size: 14px;
                              list-style: none;
                              flex: 1.5;
                              margin: auto;
                              margin-top: 1px;
                              padding-left: 1rem;
                            ">
                            <% for (let i = 0; i < detected_dict[detect_file].length - 1; i++) { %>
                              <% const engineInfo = String(detected_dict[detect_file][i]).split(':').map(info => info.trim()); %>
                              <% if (detected_dict[detect_file].length - 1 >= 5) { %>
                                <% detectFileFiveOrMoreEngines = true; %>
                              <% } %>
                              <li style="margin: 3px 0;"><%= engineInfo[0] %></li>
                            <% } %>
                          </ul>
                          <ul
                            style="
                              list-style: none;
                              flex: 5;
                              padding: 0;
                              margin: auto;
                              margin-top: 1px;
                            "
                          > 
                          <% for (let i = 0; i < detected_dict[detect_file].length - 1; i++) { %>
                            <% const engineInfo = String(detected_dict[detect_file][i]).split(':').map(info => info.trim()); %>
                            <li style="margin: 3px 30px;"><span style="color: #FF3B3B;"><%= engineInfo[1] %></span></li>
                          <% } %>
                          </ul>
                        </div>
                      <% } %>
                  <% }) %>
                    
                  <% if (detectFileZeroLength) { %>
                    <div style="border: 2px dashed #7F7F7F; border-radius: 10px; background-color: #F2F2F2; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                      <p>위험도: <span style="font-weight: bolder;">하</span></p>
                      <p style="margin-bottom:0;">- 분석 기간에 탐지된 바가 없으므로, 조치할 사항이 없습니다.</p>
                      <p style="margin-bottom:0;">- 분석 기간 이후에 탐지될 수 있으므로, 주의가 필요합니다. </p>
                    </div>
                  <% } else if (detectFileFiveOrMoreEngines) { %>
                    <div style="border: 2px dashed #F08080; border-radius: 10px; background-color: #FFE6E6; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                      <p>위험도: <span style="color: #FF6565; font-weight: bolder;">상</span></p>
                      <p style="margin-bottom:0;">조치 방법:</p>
                      <p style="margin-bottom:0;">악성코드로 분류된 파일의 실행을 방지하기 위해 이미지를 수정하거나, 해당 파일을 삭제합니다. </p>
                    </div>
                  <% } else { %>
                    <div style="border: 2px dashed #809DF0; border-radius: 10px; background-color: #E7EAFF; margin-left:0.7rem; margin-top: 0.5rem; padding: 13px; ">
                      <p>위험도: <span style="color: #506DFE; font-weight: bolder;">중</span></p>
                      <p style="margin-bottom:0;">조치 방법:</p>
                      <p style="margin-bottom:0;">- 악성코드로 분류되지 않은 파일이라도 해당 파일에 대한 추가적인 분석을 수행합니다. </p>
                      <p style="margin-bottom:0;">- 필요에 따라 보안 업데이트 및 패치를 적용합니다. </p>
                    </div>
                  <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <div class="copyright ml-auto">
              <p style="color: #595959; font-size: 14px">
                Yazatree&emsp;|&emsp;DockerDetect&emsp;
              </p>
            </div>
          </div>
        </footer>
      </div>

    </div>
    <!--   Core JS Files   -->
    <script src="core/jquery.3.2.1.min.js"></script>
    <script src="core/popper.min.js"></script>
    <script src="core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="setting-demo.js"></script>
    <script src="demo.js"></script>

    <!-- 부트스트랩 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

    </body>
</html>
    <script>
      Circles.create({
        id: "circles-1",
        radius: 45,
        value: 60,
        maxValue: 100,
        width: 7,
        text: 5,
        colors: ["#f1f1f1", "#FF9E27"],
        duration: 400,
        wrpClass: "circles-wrp",
        textClass: "circles-text",
        styleWrapper: true,
        styleText: true,
      });

      Circles.create({
        id: "circles-2",
        radius: 45,
        value: 70,
        maxValue: 100,
        width: 7,
        text: 36,
        colors: ["#f1f1f1", "#2BB930"],
        duration: 400,
        wrpClass: "circles-wrp",
        textClass: "circles-text",
        styleWrapper: true,
        styleText: true,
      });

      Circles.create({
        id: "circles-3",
        radius: 45,
        value: 40,
        maxValue: 100,
        width: 7,
        text: 12,
        colors: ["#f1f1f1", "#F25961"],
        duration: 400,
        wrpClass: "circles-wrp",
        textClass: "circles-text",
        styleWrapper: true,
        styleText: true,
      });

      var totalIncomeChart = document
        .getElementById("totalIncomeChart")
        .getContext("2d");

      var myBarChart = new Chart(barChart, {
        type: "bar",
        data: {
          labels: [
            "android.provider.ContactsContract",
            "android.telephony.SmsManager",
          ],
          datasets: [
            {
              label: "Sales",
              backgroundColor: "rgb(23, 125, 255)",
              borderColor: "rgb(23, 125, 255)",
              data: [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: "bar",
        data: {
          labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
          datasets: [
            {
              label: "Total Income",
              backgroundColor: "#ff9e27",
              borderColor: "rgb(23, 125, 255)",
              data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  display: false, //this will remove only the label
                },
                gridLines: {
                  drawBorder: false,
                  display: false,
                },
              },
            ],
            xAxes: [
              {
                gridLines: {
                  drawBorder: false,
                  display: false,
                },
              },
            ],
          },
        },
      });

      $("#lineChart").sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#ffa534",
        fillColor: "rgba(255, 165, 52, .14)",
      });
    </script>
  </body>
</html>
